@use '@angular/material' as mat;

@include mat.core();


mat.$theme-ignore-duplication-warnings: true;

$dark-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $dark-primary,
        accent: $dark-accent,
      )
    )
);

$light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $light-primary,
        accent: $light-accent,
        background: mat.$m2-grey-palette
      )
    )
);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  background: #303030;
  color: white;
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  background: #fafafa;
  color: black;

  mat-toolbar {
    background-color: #3f51b5;
  }
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0;
}
